<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <mapping class="beezzy.domain.entities.UserEntity" />
        <mapping class="beezzy.domain.entities.RoleEntity" />
        <mapping class="beezzy.domain.entities.PermissionEntity" />
        <mapping class="beezzy.domain.entities.CategoryEntity" />
        <mapping class="beezzy.domain.entities.ShopEntity" />
        <mapping class="beezzy.domain.entities.GoodsEntity" />
        <mapping class="beezzy.domain.entities.VarietyEntity" />
    </session-factory>
</hibernate-configuration>